/* main container */
.container {
    background-color: #EFEFEF;
    font-family: "Open Sans",sans-serif;
    border-top: 3px solid #BFBFBF;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

h2 {
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
}

.num-panel {
    width: 75vw;
    height: 75vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn-panel {
    width: 23vw;
    height: 75vw;
}

/* Card styles */
.card {
    text-align: center;
    vertical-align: middle;
    width: 33.33%;
    height: 33.33%;
}

.card h4 {
    vertical-align: middle;
    color: #FFFFFF;
}

.content {
    font-size: 4em;
}

/* Number color panels */
.pale-blue {
    background-color: #6F98A8;
}

.blue {
    background-color: #2B8EAD;
}

.dark {
    background-color: #2F454E;
}

.grey {
    background-color: #BFBFBF;
}

/* Button styles */
.blue-btn {
    background-color: #72C3DC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    clear: both;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #2B8EAD;
    border-radius: 5px;
    width: 85%;
    margin: 20px auto;
    outline: none;
    /* New Chrome behaviour for accessibility, recommended to retain outline */
}

/* On mouse-over, adding a shadow */
.blue-btn:hover {
    box-shadow: 0 8px 16px 0 #2F454E;
}

/* Disclaimer styles */
.disclaimer {
    font-size: 11px;
    color: #000000;
    text-align: center;
    margin: 0 auto 30px;
}

/* Tablet view styles */
@media only screen and (min-width: 769px) and (max-width: 800px) {

    .num-panel {
        width: 75vw;
    }

    .btn-panel {
        width: 20vw;
    }
}

/* mobile view styles */
@media only screen and (min-width: 375px) and (max-width: 768px) {
    .container {
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }

    h2 {
        margin: 0;
        background-color: #333333;
        color: #FFFFFF;
    }

    .btn-panel {
        width: 100vw;
    }

    .num-panel {
        order: 2;
    }

    .btn-panel {
        order: 1;
    }

    .disclaimer {
        order: 3;
    }

    .btn-panel,
    .num-panel {
        height: auto;
        text-align: center;
        margin: auto;
    }

    .card {
        width: 80vw;
        height: 40px;
        background-color: #EFEFEF;
        border-bottom: 3px solid #FFFFFF;
    }

    .card h4 {
        vertical-align: middle;
        font-size: 12px;
        color: #000000;
    }

    /* Number color panels */

    .pale-blue {
        border-left: 5px solid #6F98A8;
    }

    .blue {
        border-left: 5px solid #2B8EAD;
    }


    .dark {
        border-left: 5px solid #2F454E;
    }

    .grey {
        border-left: 5px solid #BFBFBF;
    }

    .blue-btn {
        display: inline;
        width: auto;
    }
}
